/* Write your CSS here */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  padding: 20px;
}

.sub-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  width: 70%;
  height: 80%;
  background-size: cover;
  border: 0px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #ffffff;
  padding: 5px;
  margin: 3px;
  font-size: 36px;
  font-weight: bold;
}

.button {
  background-color: #f8fafc;
  padding: 5px;
  margin: 3px;
  color: #303150;
  border: 0px;
  border-radius: 5px;
}
